.history/*
!.history/coding_problems/
!.history/coding_problems/**
!.history/coding_problems_in_java/
!.history/coding_problems_in_java/**
!.history/coding_problems_in_python/
!.history/coding_problems_in_python/**


useFullStringMethods